/* cyrillic-ext */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlbHYjedg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlSHYjedg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlYHYjedg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlWHYg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlbHYjedg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlSHYjedg.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlYHYjedg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3IWkUHHAIjg75cFRf3bXL8LICs13Fv40pKlN4NNSeSASwcEWlWHYg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: Oswald;
  font-size: 1rem;
  font-weight: normal;
  color: #2C2B2B;
  background-color: #fff;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10rem;
  height: 100%;
}

.container-u {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15rem 0 10rem;
  height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

a:focus {
  outline: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

input {
  border: none;
  background-image: none;
  outline: none;
}

input:focus {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  position: absolute;
  width: 100%;
  top: 47px;
  left: 0;
  z-index: 99;
  color: #fff;
}

.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.header__logo {
  display: block;
}

.header__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header__contact {
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.button {
  width: 250px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #5A0D67;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  color: #5A0D67;
  background-color: #fff;
  box-shadow: 0 0 8px 1px rgba(90, 13, 103, 0.5);
}

.intro {
  position: relative;
  width: 100%;
  height: 900px;
  color: #FFFFFF;
  font-weight: 300;
  background-image: url("../images/bg-intro.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.intro .container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 35rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  z-index: 2;
}

.intro__content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  margin-top: 11rem;
}

.intro__suptitle {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 90px;
  text-transform: uppercase;
}

.intro__title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.intro__subtitle {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
}

.intro__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  width: 100%;
  margin-top: 3.5rem;
}

.intro__social a {
  margin-right: 0.5rem;
}

.intro__social a:last-child {
  margin-right: 0;
}

.intro__social svg {
  fill: #fff;
}

.car {
  position: absolute;
  bottom: 0;
  right: 200px;
  z-index: 1;
}

.car img {
  max-width: 100%;
  height: auto;
  display: block;
}

.services {
  padding-top: 5rem;
}

.services .block__title {
  margin-bottom: 2.5rem;
}

.services__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.services-left {
  width: 50%;
  padding-right: 2.5rem;
}

.services__block {
  margin-bottom: 3.5rem;
}

.services__block:last-child {
  margin-bottom: 0;
}

.services__block-title {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #5A0D67;
}

.services__block-text {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #2C2B2B;
}

.services__block-text:last-child {
  margin-bottom: 0;
}

.services-right {
  width: 50%;
  padding-left: 2.5rem;
}

.services__tab-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 12px;
  border: 1px solid #C4C4C4;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.services__tab-item:hover {
  width: calc(100% + 65px);
  border-color: #5A0D67;
  box-shadow: 0 0 0 1px #5A0D67;
}

.services__tab-num {
  padding: 20px;
}

.services__tab-content {
  padding: 10px 47px 10px 20px;
}

.services__tab-content span {
  display: block;
}

.services__btn {
  margin-top: 2.5rem;
}

.block__title {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #21062A;
}

.block__title::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -100px;
  width: 80px;
  height: 2px;
  background-color: #21062A;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.about {
  position: relative;
  padding-top: 10rem;
}

.about .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
}

.about__content {
  position: relative;
  width: 39.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  padding: 23px 0 45px 0;
  background-color: #21062A;
  z-index: 3;
}

.about__content-wrap {
  margin-bottom: 1rem;
}

.about__content-wrap:last-child {
  margin-bottom: 0;
}

.about__content > * {
  padding: 0 14.2rem 0 9.25rem;
}

.about__content-num {
  font-weight: 400;
  line-height: 42px;
  font-size: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about__content-title {
  font-weight: 300;
  line-height: 36px;
  font-size: 24px;
  color: #FFFFFF;
}

.about__content-text {
  font-weight: 300;
  font-size: 18px;
  color: #C4C4C4;
}

.about .block__title {
  position: absolute;
  top: -5rem;
  left: 0;
  padding-right: 0;
}

.about-car {
  position: absolute;
  bottom: 0;
  left: -600px;
  z-index: -1;
}

.done {
  padding-top: 5rem;
}

.done .block__title {
  margin-bottom: 2.45rem;
}

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.slider__item {
  margin-right: 14px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.slider__item:last-child {
  margin-right: 0;
}

.slider__item:hover {
  box-shadow: 0 0 20px 1px rgba(90, 13, 103, 0.3);
}

.slider__item-wrap {
  padding: 5px;
  border: 1px solid #d2d2d2;
}

.slider__item-content {
  margin-top: 23px;
  margin-bottom: 11px;
}

.slider__item-content span {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.slider__item-content span:last-child {
  margin-bottom: 0;
}

.contacts {
  padding-top: 5rem;
}

.contacts .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
}

.contacts-left {
  width: 50%;
  padding-top: 2.5rem;
}

.contacts-left .block__title {
  margin-bottom: 2.5rem;
}

.contacts-right {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  background: #21062A;
}

.contacts-right-wrap {
  padding: 2.5rem 3.75rem 2.85rem;
}

.contacts-right .block__title {
  margin-left: 47px;
  margin-bottom: .8rem;
  color: #ffffff;
}

.contacts-right .block__title::after {
  background-color: #fff;
}

.contacts-right-btn {
  margin: 78px auto 0;
}

.contacts-col-wrap {
  margin-bottom: 1rem;
}

.contacts-col-wrap:last-child {
  margin-bottom: 1.5rem;
}

.contacts-col-title {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  color: #5A0D67;
}

.contacts-col-text {
  display: block;
  font-weight: 300;
  font-size: 18px;
  color: #2C2B2B;
}

.form input {
  display: block;
  padding: 0 30px;
  height: 3.75rem;
  margin-bottom: 12px;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  background-color: #21062A;
  border: 1px solid #fff;
}

.form input:last-child {
  margin-bottom: 0;
}

.form input::-webkit-input-placeholder {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.form input:-ms-input-placeholder {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.form input::placeholder {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.footer {
  height: 100px;
  color: #fff;
  background-color: #21062A;
}

.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

@media (max-width: 1500px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 1440px) {
  .header__logo img {
    max-width: 80%;
  }

  .intro {
    height: 800px;
    background-size: 100% 600px;
  }

  .intro__content {
    margin-top: 10rem;
  }

  .car {
    right: 100px;
  }

  .car img {
    max-width: 90%;
  }
}

@media (max-width: 1400px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 1366px) {
  :root {
    font-size: 13px;
  }

  .header__logo img {
    max-width: 70%;
  }

  .header__contact {
    font-size: 1.8rem;
  }

  .intro {
    height: 700px;
    background-size: 100% 550px;
  }

  .intro__content {
    margin-top: 11.5rem;
  }

  .intro__social {
    margin-top: 5rem;
  }

  .intro__social svg {
    width: 20px;
    height: 20px;
  }

  .car {
    right: 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
  }

  .car img {
    max-width: 80%;
  }

  .about__content {
    width: 50rem;
  }

  .about__content > * {
    padding: 0 14.2rem 0 9.25rem;
  }

  .about__content-num {
    font-size: 30px;
  }

  .about__content-title {
    font-size: 20px;
  }

  .about__content-text {
    font-size: 16px;
  }

  .about-car {
    left: -600px;
  }

  .about-car img {
    max-width: 80%;
  }

  .button {
    width: 200px;
    height: 42px;
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 10px;
  }

  .header__logo img {
    max-width: 50%;
  }

  .header__contact {
    font-size: 1.7rem;
  }

  .intro {
    height: 548px;
    background-size: 100% 430px;
  }

  .car {
    right: 80px;
  }

  .car img {
    max-width: 62%;
  }

  .about {
    padding-top: 10rem;
  }

  .about__content {
    width: 70%;
  }

  .about__content > * {
    padding: 0 14.2rem 0 7.25rem;
  }

  .about__content-num {
    font-size: 25px;
  }

  .about__content-title {
    font-size: 16px;
  }

  .about__content-text {
    font-size: 13px;
  }

  .about-car {
    left: -550px;
  }

  .about-car img {
    max-width: 73%;
  }

  .button {
    width: 150px;
    height: 37px;
    font-size: 10.8px;
  }

  .services__block {
    margin-bottom: 2.5rem;
  }

  .services__block-title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .services__block-text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
  }

  .services__tab {
    font-size: 12px;
  }

  .services__tab-item:hover {
    width: calc(100% + 65px);
    border-color: #5A0D67;
    box-shadow: 0 0 0 1px #5A0D67;
  }

  .services__tab-num {
    padding: 20px;
  }

  .services__btn {
    margin-top: 2.5rem;
  }

  .slider__item {
    margin-right: 12px;
  }

  .slider__item-wrap {
    padding: 3px;
  }

  .slider__item-content {
    margin-top: 18px;
    margin-bottom: 12px;
  }

  .slider__item-content span {
    font-size: 12px;
  }

  .contacts {
    padding-top: 5rem;
  }

  .contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }

  .contacts-left {
    width: 100%;
    padding-top: 5rem;
  }

  .contacts-left .block__title {
    margin-bottom: 2.5rem;
  }

  .contacts-right {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
            order: -1;
    background: #21062A;
  }

  .contacts-right-wrap {
    padding: 2.5rem 3.75rem 2.85rem;
    width: 80%;
    margin: 0 auto;
  }

  .contacts-right .block__title {
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .contacts-right-btn {
    margin: 40px auto 0;
  }

  .contacts-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-bottom: 50px;
  }

  .contacts-col-wrap {
    margin-bottom: 0;
  }

  .contacts-col-wrap:last-child {
    margin-bottom: 0;
  }

  .contacts-col-title {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 18px;
    color: #5A0D67;
  }

  .contacts-col-text {
    display: block;
    font-weight: 300;
    font-size: 18px;
    color: #2C2B2B;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 50px;
  }

  .container-u {
    padding: 0 50px;
  }

  .intro {
    height: 480px;
    background-size: 100% 430px;
  }

  .car {
    bottom: -50px;
    right: 20px;
  }

  .car img {
    max-width: 58%;
  }

  .button {
    width: 150px;
    height: 37px;
    font-size: 10.8px;
  }

  .services__block-text {
    line-height: 20px;
  }

  .services__tab-content {
    padding: 10px;
  }

  .services__tab-item:hover {
    width: auto;
  }

  .services__tab-num {
    padding: 20px;
  }

  .about {
    padding-top: 8rem;
  }

  .about__content {
    width: 70%;
  }

  .about__content > * {
    padding: 0 9.2rem 0 6.25rem;
  }

  .about__content-num {
    font-size: 25px;
  }

  .about__content-title {
    font-size: 16px;
  }

  .about__content-text {
    font-size: 13px;
  }

  .about-car {
    left: -450px;
  }

  .about-car img {
    max-width: 73%;
  }

  .slider__item {
    margin-right: 12px;
  }

  .slider__item-wrap {
    padding: 3px;
  }

  .slider__item-content {
    margin-top: 18px;
    margin-bottom: 12px;
  }

  .slider__item-content span {
    font-size: 12px;
  }

  .contacts {
    padding-top: 5rem;
  }

  .contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }

  .contacts-left {
    width: 100%;
    padding-top: 5rem;
  }

  .contacts-left .block__title {
    margin-bottom: 2.5rem;
  }

  .contacts-right {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
            order: -1;
    background: #21062A;
  }

  .contacts-right-wrap {
    padding: 2.5rem 3.75rem 2.85rem;
    width: 80%;
    margin: 0 auto;
  }

  .contacts-right .block__title {
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .contacts-right-btn {
    margin: 40px auto 0;
  }

  .contacts-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-bottom: 50px;
  }

  .contacts-col-wrap {
    margin-bottom: 0;
  }

  .contacts-col-wrap:last-child {
    margin-bottom: 0;
  }

  .contacts-col-title {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 18px;
    color: #5A0D67;
  }

  .contacts-col-text {
    display: block;
    font-weight: 300;
    font-size: 18px;
    color: #2C2B2B;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0 15px;
  }

  .container-u {
    padding: 0 15px;
  }

  .block__title::after {
    width: 60px;
    right: -80px;
  }

  .header {
    top: 20px;
  }

  .header__logo {
    width: 50%;
  }

  .header__logo img {
    max-width: 50%;
  }

  .header__contact {
    font-size: 1.4rem;
  }

  .intro {
    min-height: 500px;
    height: 100vh;
    background-size: cover;
  }

  .intro .container {
    height: 100%;
  }

  .intro__content {
    width: auto;
    height: auto;
    display: block;
    margin-top: 60px;
    padding-right: 60px;
  }

  .intro__suptitle {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 25px;
  }

  .intro__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 20px;
  }

  .intro__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
  }

  .intro__social {
    margin-top: 0;
    position: absolute;
    width: auto;
    bottom: 20px;
    left: 50%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .intro__social a {
    margin-right: 8px;
  }

  .intro__social a:last-child {
    margin-right: 0;
  }

  .intro__social svg {
    fill: #fff;
  }

  .car {
    display: none;
  }

  .button {
    width: 150px;
    height: 37px;
    font-size: 10.8px;
  }

  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }

  .services-left {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
            order: 1;
    width: 100%;
  }

  .services-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding-left: 0;
  }

  .services__block-text {
    line-height: 20px;
  }

  .services__tab {
    width: 100%;
  }

  .services__tab-content {
    padding: 10px;
  }

  .services__tab-item:hover {
    width: auto;
  }

  .services__tab-num {
    padding: 20px;
  }

  .about {
    padding-top: 8rem;
  }

  .about__content {
    width: 100%;
    padding: 23px 0;
  }

  .about__content > * {
    padding: 0 20px;
  }

  .about__content-num {
    font-size: 25px;
  }

  .about__content-title {
    font-size: 16px;
  }

  .about__content-text {
    font-size: 13px;
  }

  .about-car {
    display: none;
  }

  .slider__item {
    margin-right: 12px;
  }

  .slider__item-wrap {
    padding: 3px;
  }

  .slider__item-content {
    margin-top: 18px;
    margin-bottom: 12px;
  }

  .slider__item-content span {
    font-size: 12px;
  }

  .contacts {
    padding-top: 5rem;
  }

  .contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }

  .contacts-left {
    width: 100%;
    padding-top: 5rem;
  }

  .contacts-left .block__title {
    margin-bottom: 2.5rem;
  }

  .contacts-right {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
            order: -1;
    background: #21062A;
  }

  .contacts-right-wrap {
    padding: 30px 20px;
    width: 100%;
    margin: 0 auto;
  }

  .contacts-right .block__title {
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .contacts-right-btn {
    margin: 40px auto 0;
  }

  .contacts-col {
    display: block;
    margin-bottom: 50px;
  }

  .contacts-col-wrap {
    margin-bottom: 20px;
  }

  .contacts-col-wrap:last-child {
    margin-bottom: 0;
  }

  .form input {
    font-size: 16px;
  }

  .form input::-webkit-input-placeholder {
    font-size: 16px;
  }

  .form input:-ms-input-placeholder {
    font-size: 16px;
  }

  .form input::placeholder {
    font-size: 16px;
  }
}